{% extends "layout.html" %}
{% block content %}
<style>
    .main-container {
        display: flex;
        flex-direction: row;
        width: 100%;
    }
    .content {
        flex: 5;
        background-image: url("{{ url_for('static', filename='images/example_home_page.png') }}");
        background-size: cover;
        background-position: center;
        height: 100vh; /* Adjust height as needed */
    }
    #contentElements {
        position: absolute;
        bottom: 45px; /* Adjust distance from the bottom */
        left: 50px; /* Adjust distance from the left */
    }
    #openPopupButton {
        background-color: #40276a; /* Purple color for the button */
        border-color: #40276a; /* Match the button border */
    }
    #openPopupButton:hover {
        background-color: #40276a; /* Darker shade for hover effect */
        border-color: #40276a;
    }
    
    .sidebar {
        width: 20%;
        flex: 0.5;
        padding: 1px;
        background-color: #faf5ed;
        border-left: 1px solid #ddd;
        margin-left: auto;
    }
    .info-container{
        align-items: center;
        gap: 15px;
        padding: 10px 0;
        border-bottom: 1px solid #ddd;
        margin-bottom: 20px;
    }
    .info-container img {
        max-height: 100px;
    }
    .info-container p {
        margin: 0;
        font-size: 1.2rem;
        color: #333;
    }
    .info-box {
        background-color: #f8f9fa;
        padding: 20px;
        border-radius: 5px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    }
    .form-select {
        width: 70%; /* Make the select element fit the width of its container */
        border: none;
        outline: none;
        background-color: transparent;
    }
</style>

<div class="main-container">
    <div class="content">
        <div id="contentElements">
            <p>Welcome to pre-prod, <strong>{{ info.user_id }}</strong></p>
            <button id="openPopupButton" class="btn btn-primary btn-lg">Start LectureMate</button>
        </div>
    </div>
    <div class="sidebar">
        <div class="info-container">
            <img id="logoImg" src="{{ url_for('static', filename='images/logo.png') }}" alt="LectureMate Logo" class="img-fluid">
        </div>
        <div class="info-box text-center">
            <h5><strong>LectureMate Pop-up Information</strong></h5>
            <p><strong>Model being used by recorder:</strong> {{ info.model_name }}</p>
            <p><strong>Database URI:</strong> {{ info.mongodb_uri }}</p>
            <p><strong>Username:</strong> {{ info.user_id }}</p>
            <div class="form-group">
                <label for="sessionSelect"><strong>Session:</strong></label>
                <select id="sessionSelect" name="sessionSelect" class="form-select mx-auto">
                    <option value="newSession">New Session</option>
                    {% for session in info.sessions_topic %}
                    <option value="{{ session }}">{{ session }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
    </div>
</div>

<script src="{{ url_for('static', filename='popup.js') }}"></script>
<script>
    const userId = "{{ info.user_id }}";
    const sessions_topic = {{ info.sessions_topic | tojson }}; // works
</script>
{% endblock content %}